// Font
$mainFont       : "Montserrat";
$mainFontSize   : 14px;

// Theme colors
$darkShade100   : rgba(31, 32, 65, 1);
$darkShade75    : rgba(31, 32, 65, 0.75);
$darkShade50    : rgba(31, 32, 65, 0.5);
$darkShade25    : rgba(31, 32, 65, 0.25);
$darkShade5     : rgba(31, 32, 65, 0.05);
$purple         : rgb(188, 156, 255);
$green          : rgb(111, 207, 151);
$beige          : rgb(244, 244, 246);
$yellowGradient : linear-gradient(180deg, rgba(255, 227, 156, 1) 0%, rgba(255, 186, 156, 1) 100%);
$greenGradient  : linear-gradient(180deg, rgba(111, 207, 151, 1) 0%, rgba(102, 210, 234, 1) 100%);
$purpleGradient : linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
$brownGradient  : linear-gradient(180deg, rgba(144, 144, 144, 1) 0%, rgba(61, 73, 117, 1) 100%);


